/* CSS declarations go here */
body {
  font-family: sans-serif;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  width: 100%;
}

.table {
  margin-bottom: 0 !important;
}

.settingsExecutor {
  width: 100%;
  height: 70px;
  background-color: #fffff2;
}

.panel-heading {
  padding: 4px 10px !important;
}

.panel-body {
  padding: 10px !important;
}

.ledButton {
  width: 45%;
}

.ledButton:nth-child(1) {
  float: left;
}
.ledButton:nth-child(2) {
  float: right;
}
.center {
  text-align: center;
}

.controlButton {
  width: 30%;
  float: left;
  margin-left: 3%;
}
